/*-------------------------------------
Magnific Builder
---------------------------------------*/

.magnific-builder {
	margin: 20px;
	padding: 0;
	background: #EEE;
}

.magnific-builder#poststuff, .magnific-builder #cmb2-metabox-google_maps_preview_metabox > div {
	padding-top: 0;
}

.magnific-builder #titlediv, .magnific-builder #submitdiv, .magnific-builder #google_maps_preview_metabox .handlediv, .magnific-builder #google_maps_preview_metabox .ui-sortable-handle, .magnific-builder #post-body-content, .magnific-builder #marker-icon-modal {
	display: none;
}

.magnific-builder #google_maps_preview_metabox {
	border: none;
}

.magnific-builder #google_maps_preview_metabox .inside {
	margin: 0;
	padding: 0;
}

/* Magnific Builder Sidebar */

.magnific-builder#poststuff #postbox-container-1 {
	margin-left: 0;
	width: 300px !important;
}

.magnific-builder#poststuff #post-body.columns-2 #side-sortables {
	margin-right: 0;
	width: 300px !important;
}

.magnific-builder#poststuff .postbox {
	margin: 0;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

/* No Dragging */
.magnific-builder .postbox .hndle {
	cursor: pointer;
}