/* Mixin */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin modal-label {

  font-weight:bold;
  font-size:14px;
  margin: 0 0 10px;
  display: block;

}