/* Mixin */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin easing-transition {
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

@mixin modal-label {
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 8px;
  padding: 0;
  display: block;
  position: relative;
}

@mixin field-description {
  font-size: 13px;
  padding: 5px 0 0;
  margin: 0;
  line-height: 18px;
  font-style: italic;
  color: #aaaaaa;
}

@mixin orange-button {
  background: #FAA625;
  border-color: #CE8617;
  -webkit-box-shadow: inset 0 1px 0 rgb(249, 198, 121), 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgb(249, 198, 121), 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgb(249, 198, 121), 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #FFF;

  &:hover, &:disabled {
	color: #FFF;
	background: #eb9e23;
	border-color: #ba7915;
	-webkit-box-shadow: inset 0 1px 0 rgb(249, 198, 121), 0 1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgb(249, 198, 121), 0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px 0 rgb(249, 198, 121), 0 1px 0 rgba(0, 0, 0, 0.15);
  }
}

@mixin clearfix {

  &:after {
	content: "";
	display: table;
	clear: both;
  }

}

$blue: #42A4F5;
$orange: #FAA627;