/*-------------------------------------
Marker Icon Modal
---------------------------------------*/
#poststuff .marker-description-wrap {
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
  h3 {
	font-size: 22px;
	padding: 0;
	margin: 0 0 15px;
  }
  p {
	font-size: 16px;
	font-style: italic;
	color: #aaa;
	margin-bottom: 0;
  }
}

/*-------------------------------------
Marker Types
---------------------------------------*/
#poststuff .marker-row, #poststuff .marker-icon-row, .marker-icon-row h3 {
  h3 {
	margin: 0 0 20px;
	font-size: 18px;
	padding: 0;
  }
}

/*-------------------------------------
Marker Icon Rows
---------------------------------------*/
.marker-icon-row {
  margin-bottom: 10px;
}

.marker-icon-row, .save-marker-icon {
  display: none;
}

.marker-icon-row .icon, .marker-row .marker-item {
  width: 31%;
  float: left;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 5px;
}

.icon-inner {
  position: relative;
  top: -8px;
}

.marker-icon-row .icon span {
  font-size: 32px;
  margin-right: 8px;
  position: relative;
  top: 8px;
}

.marker-icon-row .icon, .marker-row .marker-item, .maps-icon {
  cursor: pointer;
  border: 1px solid #FFF;
  &:hover {
	border: 1px solid #f4efd8;
	background: #FFFAE2;
  }
}

.marker-icon-row .marker-item-selected, .marker-item.marker-item-selected {
  border: 1px solid #f4efd8;
  background: #FFFAE2;
}

.marker-label {
  z-index: 99;
  position: absolute;
  display: block;
  margin-top: -50px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  font-size: 28px;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
  line-height: 1;
}

/*-------------------------------------
Colors
---------------------------------------*/
.marker-row {
  margin-bottom: 20px;
}

.marker-icon-modal {
  .color-desc {
	display: block;
	clear: both;
	font-size: 12px;
	font-style: italic;
  }
  .marker-color-picker-wrap {
	float: left;
  }
}

/*-------------------------------------
Marker Selections
---------------------------------------*/
.marker-row {
  margin-bottom: 25px;

  .marker-item {
	float: left;
	width: 31%;
	text-align: center;
	padding: 10px;
	height: 100px;
	margin: 0 1% 1% 0;
	.marker-svg {
	  margin-top: 3px;
	  &.default-marker {
		margin-top: 10px;
		margin-bottom: 6px;
	  }
	}
  }
}

.marker-description-wrap h3, .marker-icon-row h3 {
  margin-top: 0;
}

/*-------------------------------------
Map Icons
---------------------------------------*/
.map-icons-list {
  margin: 0 0 10px;
  li {
	float: left;
	padding: 0;
	a {
	  padding: 4px;
	  display: block;
	  box-shadow: none;
	}
  }
}

/* Save button */

.save-marker-icon {
  background: #F1F1F1;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 1px solid #DFDFDF;
  .save-text {
	float: left;
	font-style: italic;
	margin: 6px 0 0 10px;
  }
  .button {
	float: right;
  }
}

.radius-label {
  position: relative;
  top: 35px;
  color: #7dbee8;
}

/*-------------------------------------
Modal: Create a Marker
---------------------------------------*/
.cmb2-id-gmb-geocoder.white-popup {

  p.autocomplete-description {
	display: none;
  }

  label{
	margin:0;
	padding:0;

	&:after {
		content: ' ';
		position: absolute;
		bottom: 0;
		left: 105px;
		background: url('../img/powered-by-google-on-white.png') no-repeat 0 0 transparent;
		width: 104px;
		height: 16px;
	  }
  }

  .cmb-td {
	padding: 0;

	input {
	  width: 100%;
	}

  }
}
